@import "variables";
main{
  min-height: calc(100vh - 50px);
}
.top-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 130px;
  background-color: $black;
  color: $white;
  .title {
    margin: 10px 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  input[type="radio"] {
    margin-left: 20px;
    &:focus,
    &:active {
      outline: none;
    }
  }
  input[type="radio"]:checked + label {
    color: green;
  }
  input[type="text"] {
    padding: 10px;
    color: $black;
    background-color: $white;
    border: none;
    border-radius: 5px;
  }
  label {
    font-size: 16px;
    white-space: normal;
  }
}
  .sort-container{
    display: flex;
    flex-direction: column;
  }
  .allBeer{
    position: relative;
  }
.name{
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin: 5px 0;
  height: 50px;
}
.abv{
  width: 100px;
  background-color: green;
  border: 1px solid $light-gray;
  border-radius: 15px;
  padding: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.image{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
}
.tag{
  height: 50px;
  overflow: hidden;
  font-size: 15px;
  padding: 10px 0;
}
.id{
  position: absolute;
  top:5px;
  left: 5px;
  color: green;
}
.show-more{
  background-color: white;
  border: 2px solid green;
  border-radius: 15px;
  color: black;
  width: 140px;
  padding: 5px;
}
.allBeer{
  border: 2px solid $light-gray;
  padding: 10px;
  background-color: $white2;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.row-flex {
  display: flex;
  flex-flow: column;
}
.row-flex:before,
.row-flex:after {
  content: none !important;
}
.table-style{
  margin: 10px 20px ;
}
.modal-title{
  font-weight: bold;
}
.modal-body{
  text-align: justify;
  font-size: 15px;
}
@media  screen and ( min-width: 460px){
  .row-flex {
    display: flex;
    flex-flow: row wrap;
  }
}
 @media  screen and ( min-width: 768px){
   .top-container{
     flex-direction: row;
     height: 100px;
   }
   .sort-container{
     flex-direction: row;
     .title{
       text-align: left;
       margin:0  20px  0;
     }
   }
   .table-style{
    margin: 30px 10px;
   }
 }